:root {
    --background1: #191825;
    --color1: #865DFF;
}

#projects-cont {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.project {
    height: 475px;
    width: 400px;
    background-color: var(--background1);
    border-radius: 25px;
    padding: 20px 30px 60px 30px
}

#projects-cont .project .proj-name h2 {
    font-size: 22px;
    text-align: left;
    color: var(--color1);
}

#projects-cont .project .proj-img img {
    width: 375px;
    object-fit: contain;
    margin: 15px;
}

#projects-cont .project .proj-img {
    justify-content: center;
}


#projects-cont .project .proj-link button {
    height: 40px;
    width: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--color1);
    text-align: left;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

#projects-cont .project .proj-link button:hover {
    transform: scale(1.040);
}